[user]
	name = shidetake
	email = shidetake@gmail.com
[color]
	diff = auto
[diff]
    tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
    cmd = vimdiff $LOCAL $REMOTE
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[pager]
    diff =
[alias]
    la = log --oneline --decorate --graph --branches --tags --remotes
    dt = difftool
    dc = difftool --cached
    lskip = !git ls-files -v | grep ^S
    co = checkout
    st = status
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
[push]
	default = simple
